.gradle/6.7.1/gc.properties
.gradle/6.7.1/executionHistory/executionHistory.bin
.gradle/6.7.1/executionHistory/executionHistory.lock
.gradle/6.7.1/fileChanges/last-build.bin
.gradle/6.7.1/fileHashes/fileHashes.bin
.gradle/6.7.1/fileHashes/fileHashes.lock
.gradle/6.7.1/fileHashes/resourceHashesCache.bin
.gradle/6.7.1/javaCompile/classAnalysis.bin
.gradle/6.7.1/javaCompile/jarAnalysis.bin
.gradle/6.7.1/javaCompile/javaCompile.lock
.gradle/6.7.1/javaCompile/taskHistory.bin
.gradle/configuration-cache/gc.properties
